/* 通常スタイル (PCや大きめ画面向け) */
#healthBarImage {
  width: 500px;
  height: auto;
}

/* スマホ等、幅が600px以下の画面に適用するスタイル */
@media screen and (max-width: 600px) {
  #healthBarImage {
    width: 300px;
  }
}